services:
  fastapi:
    build:
      context: backend
    container_name: fastapi_app
    restart: always
    ports:
      - "8001:8001"
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379

  react-app:
    build:
      context: frontend/titanic-app
    ports:
      - "3000:80"
    restart: always

  redis:
    image: redis:7-alpine
    container_name: local_redis
    restart: always
    ports:
      - "6379:6379"
